:root {
   --bg-primary: #FFF;
   --bg-secondary: #FFF;
   --font-primary: #555;
   --font-secondary: #111;
}

h1 {
  text-align: center;
}

input, textarea, button {
  border-radius: 10px;
}

a {
  text-decoration: none;
  background-color: white;
  padding: 5px;
}

[data-theme="dark"] {
    --bg-primary: #323232;
   --bg-secondary: #545454;
   --font-primary: #EFEFEF;
   --font-secondary: #FFF;
}

body {
	background-color: var(--bg-primary);
}

header {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
}

.headline {
	display: flex;
	flex-flow: column wrap;
	padding: 70px 0;
	color: var(--font-primary);
}

.prof-pic {
	width: 200px;
	border-radius: 100%;
}

#accordion h3 {
	font-weight: bold;
}

#accordion > div {
	background-color: var(--bg-secondary);
	color: var(--font-secondary);
}

.form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: var(--font-secondary);
}

/*Simple css to style toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  float: right;
}

.clear {
	clear: right;
}

em {
margin-left: 10px;
font-size: 1rem;
color: var(--font-primary)
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}