{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="form">
	<h1>Add Activity</h1>

	<form action="" method="POST">
		{% csrf_token %}
		{% for f in actForm %}
			{{ f.label|linebreaks }}{{ f }}
		{% endfor %}
		<br><br>
		<button>Add Activity</button>
	</form>
</div>
{% endblock %}