{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Michael Susanto</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  	<script src="//code.jquery.com/jquery-3.4.1.js"></script>
  	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<div class="theme-switch-wrapper">
	    <label class="theme-switch" for="checkbox">
	        <input type="checkbox" id="checkbox" />
	        <div class="slider round"></div>
	  </label>
	  <em>Dark Mode</em>
	</div>
	<div class="clear"></div>

	{% block content %}
	{% endblock %}
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>