{% extends 'base.html' %}
{% load static %}
{% block content %}
	<header class="headline">
		<img src="{% static 'img/michaelsusanto-profile.png' %}" alt="Michael's Profile Picture" class="prof-pic">
		<h1>Michael's Portfolio</h1>
		<h2>Here's what I have been to</h2>
	</header>
	<div id="accordion">
  		<h3>Activities</h3>
		<div>
			{% for act in activity %}
		    <div class="acc_item">
		    	<h4>{{ act.act_title }}</h4>
		    	<p>{{ act.act_desc }}</p>
		    	<h5><a href="/removeActivity/{{ act.id }}" id="removeActivity">- Remove</a></h5>
		    </div>
		    <br>
		    {% endfor %}
		    <h5><a href="/addActivity/" id="addActivity">+ New Activity</a></h5>
	  	</div>
	  	<h3>Experiences</h3>
	  	<div>
		    {% for exp in experience %}
		    <div class="acc_item">
		    	<h4>{{ exp.exp_title }}</h4>
		    	<p>{{ exp.exp_desc }}</p>
		    	<h5><a href="/removeExperience/{{ exp.id }}" id="removeExperience">- Remove</a></h5>
		    </div>
		    <br>
		    {% endfor %}
		    <h5><a href="/addExperience/" id="addExperience">+ New Experience</a></h5>
	  	</div>
	  	<h3>Achievements</h3>
	  	<div>
		    {% for achv in achievement %}
		    <div class="acc_item">
		    	<h4>{{ achv.achv_title }}</h4>
		    	<p>{{ achv.achv_desc }}</p>
		    	<h5><a href="/removeAchievement/{{ achv.id }}" id="removeAchievement">- Remove</a></h5>
		    </div>
		    <br>
		    {% endfor %}
		    <h5><a href="/addAchievement/" id="addAchievement">+ New Achievement</a></h5>
	  	</div>
	</div>
 
<script>
$( "#accordion" ).accordion();
</script>
{% endblock %}